html, body {
    background-color: #0292C0;
    font-family: arial,helvetica,sans-serif;
    font-weight: lighter;
    height: 100%;
}

#wrapper {
	background-color: white;
	border: 1px solid black;
	border-radius: 10px 10px 10px 10px;
	margin: 50px auto 20px;
	padding: 10px;
	width: 90%;
}
