# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

[*]
trim_trailing_whitespace = true

[**.cpp]
indent_style = tab
indent_size = 4

[**.hpp]
indent_style = tab
indent_size = 4

[**.h]
indent_style = tab
indent_size = 4
