*~

# Binaries
src/vzlogger

# directories from install.sh
build*/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.*

# Compiled Static libraries
*.lai
*.la
*.a

# automake
Makefile
.deps

# autoconf
autom4te.cache
config.status
config.log
stamp-h1
libtool

# Debian packaging
debian/config.log

# CMake temp files
CMakeFiles/
CMakeCache.txt
