*~

# Binaries
/src/vzlogger/vzlogger
/src/reader/reader

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.*

# Compiled Static libraries
*.lai
*.la
*.a

# automake
Makefile
.deps

# autoconf
/autom4te.cache
/aclocal.m4
/compile
/depcomp
/install-sh
/missing

/config.status
/config.log
/config.h
stamp-h1

# Debian packaging
/debian/config.log
