language: cpp

compiler: 
    - clang 
    - gcc

notifications:
    mail: "volkszaehler-dev@lists.volkszaehler.org"
    irc: "chat.freenode.net#volkszaehler.org"

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libjson0-dev libcurl4-openssl-dev openssl libmicrohttpd-dev uuid-dev uuid-runtime
# -- get libsml --
  - git clone https://github.com/TheCount/libsml.git # or https://github.com/dailab/libsml.git
  - cd libsml 
  - git checkout develop # only dev branch seems to work
  - make
# -- install libsml --
  - sudo cp sml/lib/libsml.* /usr/lib/. 
  - sudo cp -R sml/include/* /usr/include/.
  - sudo cp sml.pc /usr/lib/pkgconfig/.
  - cd ..

script:
  - cmake . -DSML_HOME=/usr/local/src/libsml/sml && make && make test
