[Unit]
Description=vzlogger
After=syslog.target NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service

[Service]
ExecStart=/usr/local/bin/vzlogger -c /etc/vzlogger.conf
ExecReload=
StandardOutput=null

[Install]
WantedBy=multi-user.target
