Source: vzlogger
Section: net
Priority: optional
Maintainer: Joachim Zobel <jz-2017@heute-morgen.de>
Build-Depends: debhelper (>= 12), pkg-config (>= 0.25), 
 libjson-c-dev (>= 0.9), libcurl4-openssl-dev (>= 7.19),
 libmicrohttpd-dev (>= 0.4.6), libsml-dev (>= 1.0), cmake, libsasl2-dev,
 libssl-dev, libgcrypt-dev, libgnutls28-dev, uuid-dev, libunistring-dev,
 libgmock-dev, libgtest-dev, pandoc, libmosquitto-dev
Standards-Version: 4.6.1
Homepage: http://wiki.volkszaehler.org/software/controller/vzlogger
Vcs-Git: git://github.com/volkszaehler/volkszaehler.org.git
Vcs-Browser: http://github.com/volkszaehler/volkszaehler.org/tree/master/misc/controller/vzlogger/

Package: vzlogger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, libsml1
Pre-Depends: ${misc:Pre-Depends}
Description: program for logging measurements to a volkszaehler.org middleware
 vzlogger...
  * is a tool to read and log measurements of a wide variety of smartmeters and
    sensors to the volkszaehler.org middleware.
  * can run as a daemon or via Cron.
  * includes a tiny onboard httpd to serve
    realtime readings to the AJAX web frontend.
  * is written in C++.

