[Unit]
Description=vzlogger
Documentation=man:vzlogger(8)
After=network.target ntp.service

[Service]
ExecStart=/usr/bin/vzlogger -c /etc/vzlogger.conf
User=_vzlogger
Group=_vzlogger
ExecReload=
StandardOutput=null
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
