[Unit]
Description=vzlogger
After=network.target ntp.service

[Service]
ExecStart=/usr/bin/vzlogger -c /etc/vzlogger.conf
User=vzlogger
Group=vzlogger
ExecReload=
StandardOutput=null

[Install]
WantedBy=multi-user.target
